.naive-todo-item {
  display: flex;
  align-items: center;
  padding: .625rem 1.25rem;
  width: 100%;
  min-height: 2.5rem;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  &:last-child { border-bottom: none; }
  
  .content {
    margin-right: auto;
    padding: 0 .75rem;
    width: calc(100% - 6.25rem);
    line-height: 1.5rem;
    font-size: 14px;
    color: #666;
    word-break: break-all;
    &.completed {
      color: #999;
      text-decoration: line-through;
    }
  }

  .other-btn {
    display: flex;
    justify-content: space-between;
    width: 3.75rem;
  }
}